/* roboto-regular - latin */
@font-face 
    {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    src: local('Roboto'), local('Roboto-Regular'),
   }
/* roboto-700 - latin */
@font-face
    {
    font-family: 'Roboto-700';
    font-style: normal;
    font-weight: 700;
    src: local('Roboto Bold'), local('Roboto-Bold'),
    }



body
{
    background-color: gray;
}



.background-gray
{
    background-color: rgb(247, 247, 247);
}

.contents
{
    width: 1000px;
    background-color: white;

    margin-left: auto;
    margin-right: auto;    
}

.endLine
{
    clear: both;
}

.upper-menu
{
    margin-left: auto;
    margin-right: auto;
    height: 10px;
    border-top: 1px solid black;
    width:1000px;
}
.bottom-menu
{
    
    margin-left: auto;
    margin-right: auto;
    width: 1000px;
    background-color:white;
}



.UpperRow 
{
    background-color: white; /* Green */
    border: none;
    color: black;
    border: 2px solid black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    width: 32%;
    float: left;
    font-family: "Roboto", sans-serif;
}

.UpperRow:first-child
{
    margin-left:19px;
}

.BottomRow
{
    background-color: white; /* Green */
    border: none;
    color: black;
    border: 2px solid black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    width: 28%;
    float: left;
    font-family: "Roboto", sans-serif;
}

.BottomRow:first-child
{
    margin-left: 85px;
}


button:hover
{
    background-color: lightskyblue;
}

h1 
{
    text-align: center;
    margin-bottom: 20px;
    border-bottom: 1px solid black;
    font-family: "Roboto-700", sans-serif;
    font-size: 35px;
}

h2
{
    margin-top: 40px;
    background-color: white;
    text-align: center;
    font-family: "Roboto", sans-serif;
    font-size: 25px;
}
