/* roboto-regular - latin */
@font-face 
    {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    src: local('Roboto'), local('Roboto-Regular'),
   }
/* roboto-700 - latin */
@font-face
    {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    src: local('RobotoBold'), local('Roboto-Bold'),
    }



body
{
    background-color: rgb(174, 174, 174);
}

.background-gray
{
    background-color: rgb(247, 247, 247);
}

.contents
{
    width: 1000px;
    height: 780px;
    background-color: white;
    margin-top: -30px;
    margin-left: auto;
    margin-right: auto;  
}

.endLine
{
    clear: both;
}

.UpperRow 
{
    background-color: white; /* Green */
    border: none;
    color: black;
    border: 3px solid black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    width: 32%;
    margin-bottom: 5px;
    float:left;
    font-family: "Roboto", sans-serif;
    box-shadow: 0 8px 10px 0 rgba(0,0,0,1), 0 8px 10px 0 rgba(0,0,0,0.19);
}

.UpperRow1st
{
    background-color: white; /* Green */
    border: none;
    color: black;
    border: 3px solid black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    width: 32%;
    margin-bottom: 5px;
    margin-left: 20px;
    float: left;
    font-family: "Roboto", sans-serif;
    box-shadow: 0 8px 10px 0 rgba(0,0,0,1), 0 8px 10px 0 rgba(0,0,0,0.19);
}

.BottomRow
{
    background-color: white; /* Green */
    border: none;
    color: black;
    border: 3px solid black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    width: 28%;
    float:left;
    font-family: "Roboto", sans-serif;
    box-shadow: 0 8px 10px 0 rgba(0,0,0,1), 0 8px 10px 0 rgba(0,0,0,0.19);
}

.BottomRow1st
{
    background-color: white; /* Green */
    border: none;
    color: black;
    border: 3px solid black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    width: 28%;
    float:left;
    font-family: "Roboto", sans-serif;
    box-shadow: 0 8px 10px 0 rgba(0,0,0,1), 0 8px 10px 0 rgba(0,0,0,0.19);
    margin-left:85px;
}

button
{
    -webkit-transition-duration: 0.2s; /* Safari */
    transition-duration: 0.2s;
}

.actionButton
{
    -webkit-transition-duration: 0.3s; /* Safari */
    transition-duration: 0.3s;
}

.actionButton:active
{
    background-color: lightskyblue;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}

button:hover
{
    background-color: lightskyblue !important;
}

h1 
{
    text-align: center;
    margin-bottom: 20px;
    border-bottom: 1px solid black;
    font-family: "Roboto Bold", sans-serif;
    font-size: 45px;
}

h2
{
    font-family: "Roboto", sans-serif;
}

h3
{
    float: right;
    font-family: "Roboto", sans-serif;
}

h4
{
    font-family: "Roboto", sans-serif;
    text-align: center;
}

.pageBottom
{
    border: 1px solid black;
    border-bottom: 1px solid black;
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    font-family: "Roboto", sans-serif;
}

.emptySpace100px
{
    min-height: 100px;
}

.emptySpace75px
{
    min-height: 75px;
}

.emptySpace50px
{
    min-height: 50px; 
}

.emptySpace45px
{
    min-height: 45px;
}

.emptySpace30px
{
    min-height: 30px; 
}

.emptySpace15px
{
    min-height: 15px;
}
