.onPageButton1st
{
    background-color: lightskyblue;
    border: black;
    color: black;
    border: 3px solid black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    width: 32%;
    float:left;
    font-family: "Roboto", sans-serif;
    box-shadow: 0 8px 10px 0 rgba(0,0,0,1), 0 8px 10px 0 rgba(0,0,0,0.19);
    margin-left:20px;
}

.table1
{

    width: 170px;
    float:left;
}

.table2
{

    width: 170px;
    float:right;
}

.convertionBar
{
    text-align: center;
    width: 100%;
    Padding: 3px;
    background-color: white;
    border-left: 1px solid black;
    border-right: 1px solid black;
}

.convertionBarFirst
{
    text-align: center;
    width: 100%;
    Padding: 3px;
    background-color: white;
    border-left: 1px solid black;
    border-right: 1px solid black;
    border-top: 1px solid black;
}

.convertionBarLast
{
    text-align: center;
    width: 100%;
    Padding: 3px;
    background-color: white;
    border-left: 1px solid black;
    border-right: 1px solid black;
    border-bottom: 1px solid black;
}

.stockInputSize1
{
    width: 170px;
    float:left;
}
.stockInputSize2
{
    width: 170px;
    float:right;
}