
.onPageButton
{
    background-color: lightskyblue;
    border: none;
    color: black;
    border: 3px solid black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    width: 32%;
    float:left;
    font-family: "Roboto", sans-serif;
    box-shadow: 0 8px 10px 0 rgba(0,0,0,1), 0 8px 10px 0 rgba(0,0,0,0.19);
    margin-left: 20px;
}

.convertionBar
{
    text-align: center;
    width: 100%;
    Padding: 3px;
    background-color: white;
    border-left: 1px solid black;
    border-right: 1px solid black;
}

.convertionBarFirst
{
    text-align: center;
    width: 100%;
    Padding: 3px;
    background-color: white;
    border-left: 1px solid black;
    border-right: 1px solid black;
    border-top: 1px solid black;
}

.convertionBarLast
{
    text-align: center;
    width: 100%;
    Padding: 3px;
    background-color: white;
    border-left: 1px solid black;
    border-right: 1px solid black;
    border-bottom: 1px solid black;
}

.float-left
{
    float:left;
    border:1px solid black;
    background-color: lightskyblue;
    font-family: "Roboto", sans-serif;
}
.float-right
{
    float:right;
    border:1px solid black;
    background-color: lightskyblue;
    font-family: "Roboto", sans-serif;
}
.float-rightBlank
{
    float:right;

    font-family: "Roboto", sans-serif;
}

.option-select-control1
{
    width: 173px;
    text-align: center;
    height: auto;
    overflow: hidden;
    float:left;
    border:1px solid black;
    padding-top: 5px;
}

.option-select-control1:first-child
{
    border-top: 0px;
}


.option-select-control2
{
    width: 173px;
    text-align: center;
    height: auto;
    overflow: hidden;
    float:right;
    border: 1px solid black;
    padding-top: 5px;
}

.option-select-control2:first-child
{
    border-top: 0px;
}

.optionControll:hover{
    background-color: lightskyblue;
}

.centeredInput
{
    margin-left: 250px;
    margin-right: 250px;
}

.inputOrnaments
{
    border:1px solid black;
    background-color: lightskyblue;
    font-family: "Roboto", sans-serif;
    padding:10px 5px 10px 5px;
}

.marginTop
{
    margin-top: 15px;
}