
.onPageButton
{
    background-color: lightskyblue;
    border: none;
    color: black;
    border: 3px solid black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    width: 32%;
    float:left;
    font-family: "Roboto", sans-serif;
    box-shadow: 0 8px 10px 0 rgba(0,0,0,1), 0 8px 10px 0 rgba(0,0,0,0.19);
    margin-left: 20px;
}

.convertionBar
{
    text-align: center;
    width: 100%;
    Padding: 3px;
    background-color: white;
    border-left: 1px solid black;
    border-right: 1px solid black;
}

.convertionBarFirst
{
    text-align: center;
    width: 100%;
    Padding: 3px;
    background-color: white;
    border-left: 1px solid black;
    border-right: 1px solid black;
    border-top: 1px solid black;
}

.convertionBarLast
{
    text-align: center;
    width: 100%;
    Padding: 3px;
    background-color: white;
    border-left: 1px solid black;
    border-right: 1px solid black;
    border-bottom: 1px solid black;
}

.stockInputSize1
{
    size: 170px;
    float:left;
}
.stockInputSize2
{
    size: 170px;
    float:right;
}

.option-select-control1
{
    width: 173px;
    text-align: center;
    height: auto;
    overflow: hidden;
    float:left;

}

.option-select-control2
{
    width: 173px;
    text-align: center;
    height: auto;
    overflow: hidden;
    float:right;
}

.optionControll:hover{
    background-color: lightskyblue;
}

.centeredInput
{
    margin-left: 250px;
    margin-right: 250px;
}