
.onPageButton
{
    background-color: lightskyblue;
    border: none;
    color: black;
    border: 3px solid black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    width: 28%;
    float:left;
    font-family: "Roboto", sans-serif;
    box-shadow: 0 8px 10px 0 rgba(0,0,0,1), 0 8px 10px 0 rgba(0,0,0,0.19);
    margin-left: 85px;
}

.centeredTable
{
    margin-left: 185px;
    margin-right: 185px;
}

table
{
    border-collapse: collapse;
}

.tableHeading
{
    border: 1px solid black;
    background-color: lightskyblue;


}
.tableBody
{
    border: 1px solid black;

}

.headCell
{
    text-align: center;
    font-family: "Roboto", sans-serif;
    font-size: 30px;
    padding-bottom: 5px;
}

.tableCell
{
    text-align: center;
    border-right: 1px solid black;
}

.tableCell:last-child
{
    border-right: 0px;
}

.tableRow:nth-child(even)
{
    background-color: rgb(237,237,237);
}

.centeredDropdowns
{
    margin-left: 375px;
    margin-right: 375px;
}


/*all the dropdowns costomizations are here*/
#dropdown0
{
    border: 1px solid black;
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-size: 20px;
    width: 50px;
    height: 30px;
    text-align: center;
}
#dropdown1
{
    border: 1px solid black;
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    height: 30px;
}
#dropdown2
{
    border: 1px solid black;
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-size: 20px;
    width: 50px;
    height: 30px;
    text-align: center;
}
#dropdown3
{
    border: 1px solid black;
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    height: 30px;
}
#dropdown4
{
    border: 1px solid black;
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-size: 20px;
    width: 50px;
    height: 30px;
    text-align: center;
}

.optionHover
{
    background-color: white;
}