
.onPageButton
{
    background-color: lightskyblue;
    border: none;
    color: black;
    border: 3px solid black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    width: 28%;
    float:left;
    font-family: "Roboto", sans-serif;
    box-shadow: 0 8px 10px 0 rgba(0,0,0,1), 0 8px 10px 0 rgba(0,0,0,0.19);
    margin-left: 85px;
}

.centeredTable
{
    margin-left: 185px;
    margin-right: 185px;
}

.tableHeading
{
    border: 1px solid black;
    background-color: lightskyblue;
    border-collapse: collapse;
    text-align: center;
}
.tableBody
{
    border: 1px solid black;
}

.centeredDropdowns
{
    margin-left: 300px;
    margin-right: 300px;
}

#dropdowns
{
    width: 300px;
    text-align: center;
    height: auto;
    overflow: hidden;
    float:left;
    border:1px solid black;
    height: 35px;
    font-family: "Roboto", sans-serif;
}